@using Store.Domain.Dtoes.AdminPanel
@model CreateUserDto

@{
    ViewData["Title"] = "افزودن کاربر";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="UserName" class="control-label"></label>
                                    <input type="text" asp-for="UserName" class="form-control">
                                    <span asp-validation-for="UserName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input type="text" asp-for="Email" class="form-control">
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input type="password" asp-for="Password" class="form-control">
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <img id="imgAvatar" class="thumbnail" src="/SiteQaleb/UserAvatar/Defult.jpg" />
                                    <label asp-for="ImageName" class="control-label"></label>
                                    <input type="file" asp-for="imgUp" id="imgUp" class="form-control">
                                    <span asp-validation-for="imgUp"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <label asp-for="UserRoles" class="control-label"></label>
                                    @foreach (var item in ViewBag.RoleName)
                                    {
                                        <div class="form-check form-check-radio">
                                            <label>
                                                <input type="checkbox" name="UserRoles" value="@item.RoleId">
                                                <span>@item.RoleTitle</span>
                                            </label>
                                        </div>
                                    }
                                    <span asp-validation-for="UserRoles"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" asp-area="Admin" asp-controller="Home" asp-action="Create" class="btn btn-success m-l-15 waves-effect">ثبت</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgUp").change(function() {
            readURL(this);
        });
    </script>
}