@using Store.Domain.ViewModels
@model ProductGroupViewModel

<div class="main-menu">
    <div class="container">
        <nav>
            <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
            <ul>
                @foreach (var item in Model.productGroupList.Where(x => x.ParentId == null))
                {
                <li>
                        <a asp-area="" asp-controller="Home" asp-action="Archive" asp-route-selectedGroups="@item.GroupId"> @item.GroupTitle </a>
                    @if (Model.productGroupList.Any(x => x.ParentId == item.GroupId))
                    {
                    <ul>
                        @foreach (var sub in Model.productGroupList.Where(x => x.ParentId == item.GroupId))
                        {
                                    <li><a asp-area="" asp-controller="Home" asp-action="Archive" asp-route-selectedGroups="@sub.GroupId"> @sub.GroupTitle </a></li>
                        }
                    </ul>
                    }
                </li>
                }
            </ul>
        </nav>
    </div>
</div>