@using Store.Domain.Dtoes.UserPanel
@model EditInfoDto

@{
    ViewData["Title"] = "ویرایش اطلاعات";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">فروشگاه آترین</a></li>
            <li class="breadcrumb-item active" aria-current="page"> ویرایش اطلاعات </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                @await Component.InvokeAsync("SideBarUserPanel")
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> ویرایش حساب کاربری </h1></header>
                        <div class="inner form-layer">
                            <form method="Post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="@Model.Id" />
                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                                            <input asp-for=@Model.UserName type="text" class="form-control" placeholder="نام کاربری" aria-describedby="username">
                                        </div>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                                            <input type="text" asp-for=@Model.Email class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-image"></i></span>
                                            <input type="hidden" asp-for="@Model.UserAvatar" />
                                            @if (Model.UserAvatar != null)
                                            {
                                                <img src="/SiteQaleb/UserAvatar/@Model.UserAvatar" class="thumbnail" style="max-width: 150px" />
                                            }
                                        </div>
                                        <div>
                                            <label for="imgUp" class="control-label">تصویر جدید (اختیاری)</label>
                                            <input type="file" asp-for="imgUp" class="form-control" />
                                            <span asp-validation-for="imgUp" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button asp-area="UserPanel" asp-controller="Home" asp-action="EditProfile" class="btn btn-success"> ویرایش اطلاعات </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>