@using Store.Domain.Dtoes.AdminPanel.ProductComment
@model DeleteCommentDto

@{
    ViewData["Title"] = "حذف نظر";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <form method="post" id="deleteCommentForm">
                    <div class="row clearfix">
                        <div class="col-lg-8">
                            <h3>آیا از حذف نظر اطمینان دارید ؟</h3>
                            <input type="hidden" asp-for="CommentId" />
                            <br />
                            <div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label asp-for="Comment" class="control-label"></label>
                                        <input type="text" asp-for="Comment" class="form-control" readonly>
                                        <span asp-validation-for="Comment"></span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label asp-for="IsShow" class="control-label"></label>
                                        <input type="checkbox" asp-for="IsShow" class="form-control" disabled>
                                        <span asp-validation-for="IsShow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <button type="button" onclick="CloseModal()" class="btn btn-success m-l-15 waves-effect">بستن</button>
                                <button type="button" onclick="deleteComment()" class="btn btn-success m-l-15 waves-effect">حذف</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>