@using Store.Domain.ViewModels
@using Store.Domain.Common.Date
@model ProductCommentViewModel

@{
    ViewData["Title"] = "لیست نظرات ";
}

<h2>لیست نظرات</h2>

<br />


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
    <form method="post" class="d-flex align-items-center mb-4" id="selectProductForm">
        <label class="control-label ms-3" style="white-space: nowrap;">انتخاب محصول</label>
        <select name="productId" class="form-control select2" asp-items="ViewBag.ProductName">
            <option value="">انتخاب محصول</option>
        </select>
        <button type="button" onclick="selectProduct()" class="btn btn-Light me-3" style="background-color:#12cf77"> انتخاب</button>
        @* <button type="submit" asp-area="Admin" asp-controller="ProductComment" asp-action="Index" class="btn btn-Light me-3"> انتخاب</button> *@
    </form>
</div>

<div class="card" id="gridProductComment">
    <partial name="~/Areas/Admin/Views/ProductComment/_gridProductComment.cshtml" />
</div>



<style>
    .select2-search__field {
        text-align: right;
    }
</style>

<!-- Modal -->
<div class="modal" tabindex="-1" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mymodallable">Modal title</h5>
                <button type="button" class="close" onclick="CloseModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bodymodal">
            </div>
            @*  <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div> *@
        </div>
    </div>
</div>


@section Script{
    <script>
            $(document).ready(function () {
            $('.select2').select2({
                placeholder: "انتخاب محصول",
                allowClear: true,
                language: {
                noResults: function () {
                    return "موردی یافت نشد";
                }
            }
            });
        });


        function selectProduct() {
            var input = $("#selectProductForm").serialize();
            $.ajax({
                url: "/Admin/ProductComment/Index/",
                type: "Post",
                data: input,
            }).done(function (result) {
                $('#gridProductComment').empty();
                $('#gridProductComment').html(result);
            });
        }

        function CloseModal(){
            $('#mymodal').hide();
        }

        function openEditComment(id){
            $.ajax({
                url: "/Admin/ProductComment/Edit/" + id,
                type: "GET",
                data: {}
            }).done(function (result) {
                $('#mymodal').show();
                $('#bodymodal').empty();
                $('#mymodallable').html('ویرایش');
                $('#bodymodal').html(result);
            });
        }

        function editComment(){
            var input = $("#editCommentForm").serialize();
            $.ajax({
                url: "/Admin/ProductComment/Edit/",
                type: "Post",
                data: input,
            }).done(function (result) {
                $('#mymodal').hide();
                $('#gridProductComment').html(result);
            });
        }

        function openDetailsComment(id){
            $.ajax({
                url: "/Admin/ProductComment/Details/" + id,
                type: "GET",
                data: {}
            }).done(function (result) {
                $('#mymodal').show();
                $('#bodymodal').empty();
                $('#mymodallable').html('جزییات');
                $('#bodymodal').html(result);
            });
        }

        function openDeleteComment(id){
            $.ajax({
                url: "/Admin/ProductComment/Delete/" + id,
                type: "GET",
                data: {}
            }).done(function (result) {
                $('#mymodal').show();
                $('#bodymodal').empty();
                $('#mymodallable').html('حذف');
                $('#bodymodal').html(result);
            });
        }

        function deleteComment(){
            var input = $("#deleteCommentForm").serialize();
            $.ajax({
                url: "/Admin/ProductComment/Delete/",
                type: "Post",
                data: input,
            }).done(function (result) {
                $('#mymodal').hide();
                $('#gridProductComment').html(result);
            });
        }
    </script>
}